@model IEnumerable<trainingPlan.Models.Training>
@{
    ViewData["Title"] = "Trainings";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new</a>
</p>
<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="difficultyId">Difficulty</label>
        <select id="difficultyId" name="difficultyId" class="form-control">
            <option value="">All</option>
            @foreach (var difficulty in (SelectList)ViewBag.Difficulties)
            {
                <option value="@difficulty.Value">@difficulty.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="trainingTypeId">Training Type</label>
        <select id="trainingTypeId" name="trainingTypeId" class="form-control">
            <option value="">All</option>
            @foreach (var trainingType in (SelectList)ViewBag.TrainingTypes)
            {
                <option value="@trainingType.Value">@trainingType.Text</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> *@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>